<div class="modal-body">
  <button
    type="button"
    class="btn-close fs-6"
    (click)="modalRef.hide()"
  ></button>
  <div class="title fs-5 mt-2">Share to:</div>
  <form class="mb-2" [formGroup]="shareForm" (ngSubmit)="modalRef.hide()">
    <div class="w-100 d-flex input-group">
      <input type="email" class="form-control" formControlName="email" />
      <button
        type="submit"
        class="btn btn-primary send-button"
        [disabled]="!shareForm.valid"
      >
        Send <i class="bi bi-send-fill"></i>
      </button>
    </div>
  </form>
</div>
