
@import "bootstrap/scss/functions";
@import 'bootstrap/scss/variables';

.modal-body {
  padding: 1.5rem;

    input {
      border: 1px solid $gray-700;
    }
    .btn {
      border-radius: 0.25rem;
      padding: 0.5rem 2rem;

      &.send-button {
        border: 1px solid $gray-700;
      }
    }


}