<div class="layout-container position-relative">
  <!-- <app-toasts class=""></app-toasts> -->
  <header class="header position-fixed w-100 shadow-sm px-4">
    <div class="w-100 d-flex justify-content-start h-100 align-items-center">
      <h4 class="m-0">
        <span class="fw-bold">S</span><span class="fs-6">peech</span
        ><span class="fw-bold">B</span><span class="fs-6">ox</span>
      </h4>
    </div>
  </header>
  <div class="container-fluid content-container">
    <ng-content></ng-content>
  </div>
</div>
