@import "bootstrap/scss/functions";
@import 'bootstrap/scss/variables';


@mixin line-clamp($lines: 1) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
}

:host {
  height: 100%;
  width: 100%;
  .list-item-container {

    display:block;
    color: $gray-700;
    font-style:  normal;
    text-decoration: none;
    border-bottom: 1px solid $gray-300;
    transition: background-color 0.3s, transform 0.3s, color 0.2s, border-bottom-color 0.3s;
    background-color: white;
    cursor: pointer;
    &:hover {
      cursor: pointer;
      background-color: $gray-100;
      border-bottom-color: $gray-100;
    }

    &.active {
      // background-color: $gray-100;
      box-shadow: 0px -25px 12px -30px rgba(0, 0, 0, 0.45) inset, 0px 25px 12px -30px rgba(0, 0, 0, 0.45) inset;
      -webkit-box-shadow: 0px -25px 12px -30px rgba(0, 0, 0, 0.45) inset, 0px 25px 12px -30px rgba(0, 0, 0, 0.45) inset;
      &:hover {
        background-color: $gray-100;
      }
    }
    .title, .author, .content {
      margin-bottom: 0;
      @include line-clamp(2);
    }
    .title {
      @include line-clamp();
    }
    .author {
      @include line-clamp();
    }
    .content {
      max-height: 4rem;

    }
    .date {
      font-size: 0.8rem;
    }
    .fave-button {
      &:hover{
        transform: scale(1.05);
      }
    }
    .form-check {
      .form-check-input {
        border: 1px solid $gray-500;
      }
    }

  }

}